<head>
  <title>Codeaholic freelance web developer - software engineer - hacker - hired gun</title>
  <link rel="shortcut icon" href="/img/mirumaps.ico" type="image/x-icon">

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/json?key=AIzaSyAU59P26hd1oXossU1_VopP1y6ggixbtgw&libraries=places"></script>

</head>

<!-- <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"> -->
<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" /> -->

<!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/> -->
<link rel='stylesheet' type='text/css' href="./index.css">

<!-- <script src="https://use.fontawesome.com/f04c3dbf1d.js"></script> -->
<!-- <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script> -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js"></script> -->
<!-- <script src="L.D3SvgOverlay.min.js"></script> -->




<script src="/dist/src/build.js" type="text/Javascript"></script>


<div id="app-target"></div>
