#home-component {
  // border: 2px solid red;
  border-radius: 5px;
}


#locate_search_button {
  width: 20%;
  padding: 0rem !important;
}
#home-component .column {
  padding: 0 0 0 0;
}

#options-container {
  position: relative;
  padding: 2rem;
  width: 361px;
  display: inline-block;
}

#map-preview-component {
  width: ~"calc(100% - 182px)";

}

#options-container .geosuggest {
  width: 100%;
}

#home-component .filter-container-component {
  display: inline;
  width: 100%;

  height: 100%;
}

#home-component .filter-wrapper {
  margin-top: 1.5rem;
  width: 90%;
  height: 100%;
}



#home-component .geosuggest__item--active {
  background: #fff;
  color: #50b9b6;
}

#options-container > div > div > div.row > div.column.column-20 > button > span {
  margin-left: -11px;
  font-size: 3rem;


}


// locate your place filter container component

#options-container h2 {
  font-size: 3rem;
}

#options-container h3 {
  font-size: 1.5rem;
}
